In [234]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import networkx as nx
import random

%matplotlib inline
plt.style.use('bmh')
mpl.rcParams['figure.figsize'] = (16, 10)

In [235]:
contacts = pd.read_excel('PredictedNContacts_Barcelona.xlsx')
contacts.head()

   part_age  occupation  education  gender PNumContactes
0         0           3          1       0           1-2
1         0           3          1       0           3-7
2         0           3          1       0           3-7
3         0           3          1       0           3-7
4         0           3          1       0           3-7

Com que la variable de PNumContactes és categòrica: assignem valors dins del rang de manera uniforme.

In [182]:
subset_0 = contacts.loc[contacts.PNumContactes == '1-2',:] 
values = np.random.randint(low=1,high=3,size=len(subset_0))
subset_0 = subset_0.reset_index()
subset_0['PNumContactes'] = values

subset_1 = contacts.loc[contacts.PNumContactes == '3-7',:] 
values = np.random.randint(low=1,high=8,size=len(subset_1))
subset_1 = subset_1.reset_index()
subset_1['PNumContactes'] = values

subset_2 = contacts.loc[contacts.PNumContactes == '7-11',:] 
values = np.random.randint(low=8,high=12,size=len(subset_2))
subset_2 = subset_2.reset_index()
subset_2['PNumContactes'] = values

subset_3 = contacts.loc[contacts.PNumContactes == '+13',:] 
values = np.random.randint(low=13,high=20,size=len(subset_3))
subset_3 = subset_3.reset_index()
subset_3['PNumContactes'] = values

frames = [subset_0,subset_1,subset_2,subset_3]
contacts = pd.concat(frames)
contacts = contacts[['part_age','occupation','education','gender','PNumContactes']]
contacts = contacts.reset_index()
contacts = contacts.rename(columns = {'index': 'id1','part_age':'Edat','gender':'Genere','education':'Educacio','occupation':'Ocupacio'})

In [183]:
contacts.head()

   id1  Edat  Ocupacio  Educacio  Genere  PNumContactes
0    0     0         3         1       0              2
1    1     0         3         1       0              1
2    2     0         3         1       1              2
3    3     0         3         1       0              2
4    4     0         3         1       1              2

Ara seleccionarem els contactes:

In [ ]:
contacts.to_excel('data/nodes_Barcelona.xlsx')